*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.big-container {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

img{
  width: 400px;
  height: auto;
  display: inline-block;
}
.list{
  justify-content: space-between;
  display: flex;
  list-style-type: none;
  padding: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
}
